<form action="/" method="POST">
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="firstname" placeholder="Enter your first name">

    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="lastname" placeholder="Enter your last name">

    <button>Submit</button>

</form>
