/*body {
    padding-top: 40px;
}

.container {
    background-color: blue;
    padding: 10px;
    height: 200px;
    text-align: center;
}

div.container div {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transition: all 4s;
}

div.container div:hover {
    transform: translateY(-300px) translateX(900px) rotate(345deg);
}*/

body {
    background: radial-gradient(red, blue);
}